.display {
    font-family: 'Oswald';
}

.display::after {
    content: "";
    border-bottom-width: 12px;
    border-bottom-style: solid;
    border-bottom-color: #fec133;
    display: block;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    width: 100%;
}

h4 {
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    /*font-family: "Open Sans";*/
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}

tr.fila-con-opciones>th {
    border-radius: 8px;
    text-align: center;
}

/*ENCABEZADOS*/
.encabezado-h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 20px 38px;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
}

.encabezado-comunicacion-titulo {
    font-weight: 800;
    color: #fcb900;
}

.encabezado-h3 {
    font-size: 1.925rem;
    font-weight: 500;
    line-height: 1.2;
}

.encabezado-h4 {
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 1.2;
}

.blanco {
    text-align: center;
    color: #ffffff;
}

.negro {
    text-align: left;
    color: #000000;
}

.tamaño-letra {
    font-size: 1.2em;
}

/*MATEMATICA*/
.fondo-matematica {
    background-color: #ff6900;
}

.matematica {
    color: #ff6900
}

.tamaño-letra {
    font-size: 1.2em;
}


/* estilos para scroll visible en mobile */

.scroll::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
}


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}


/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.scroll::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Cambiamos el fondo cuando esté en active */

.scroll::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}


/* Ponemos un color de fondo y redondeamos las esquinas del track */

.scroll::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}


/* Cambiamos el fondo cuando esté en active o hover */

.scroll::-webkit-scrollbar-track:hover,
.scroll::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}


/*COMUNICACION*/
.fondo-comunicacion {
    background-color: #9b51e0;
}

.fondo-comunicacion-clarito {
    background-color: #c998f7;
}

.comunicacion {
    color: #9b51e0;
}

.icono_titulo {
    width: 30px;
    padding-right: 0.25em;
}

.icono_titulo_2 {
    height: 30px;
}

.borde-perforado-amarillo {
    border-top: 18px dotted #fff;
    outline: 5px solid #f7fae4;
}

.justificacion-com {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 4px 24px;
    background-color: #0693e3;
    color: #ffffff;
    max-width: 180px;
    text-align: center;
}

.cuadro-texto-comunicacion {
    border-image: initial;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*CIENCIAS NATURALES*/
.fondo-ciencias {
    background-color: #7bdcb5;
}

.ciencias {
    color: #7bdcb5
}

.punto {
    color: #e2007a;
}

.h2-apt-cie {
    background-color: #7bdcb5;
    text-transform: uppercase;
    padding: 20px 30px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.h2-apt-vid {
    background-color: #0693e3;
    text-transform: uppercase;
    padding: 20px 30px;
    word-break: break-word;
    overflow-wrap: break-word;
}

/*VIDA SOCIAL Y TRABAJO*/
.fondo-vida {
    background-color: #0693e3;
}

.vida {
    color: #0693e3
}

.contenedor-2columnas-70-30 {
    display: flex;
}

.columna-70 {
    flex-shrink: 0;
    flex-basis: 70%;
    margin-top: 3%;
}

.columna-50 {
    flex-shrink: 0;
    flex-basis: 50%;
    margin-top: 3%;
}

.columna-33 {
    flex-shrink: 0;
    flex-basis: 33%;
    margin-top: 3%;
}

.columna-25 {
    flex-shrink: 0;
    flex-basis: 25%;
    margin-top: 3%;
}

.columna-20 {
    flex-shrink: 0;
    flex-basis: 20%;
    margin-top: 3%;
}

.columna-15 {
    flex-shrink: 0;
    flex-basis: 15%;
    margin-top: 3%;
}

.columna-13 {
    flex-shrink: 0;
    flex-basis: 13%;
    margin-top: 3%;
}

.img-float {
    float: right;
}

@media only screen and (max-width: 900px) {
    .img-float {
        float: none;
    }
}

@media only screen and (max-width: 900px) {
    .contenedor-2columnas-70-30 {
        flex-direction: column;
    }
}

.contenedor-2columnas-paso {
    display: flex;
}

@media only screen and (max-width: 900px) {
    .contenedor-2columnas-paso {
        flex-direction: column;
    }
}

.paso {
    margin-right: 0px;
    flex-shrink: 0;
    flex-basis: 12%;
}

.paso p {
    border: 2px solid #f9a870;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: auto;
    border-radius: 20px 0 0 0;
    text-align: center;
}

.indicaciones {
    width: 100%
}

.indicaciones p {
    padding: 20px 38px;
}

/*DOCENTES*/
.encabezado_h2_docentes {
    padding: 20px 38px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
    background-color: #fcb900;
}

.texto_observacion_docente {
    background-color: #eee;
}

.has-background {
    padding: 20px 38px;
}

.encabezado_h3_docentes {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.boton_plan_diario {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    background-color: #3f51b5;
}

.boton_plan_diario:hover {
    background-color: #303f9f;
}

.boton_plan_diario:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.boton_libro_docente {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    background-color: #3f51b5;

}

.boton_libro_docente:hover {
    background-color: #303f9f;
}

.boton_libro_docente:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.contenedor {
    max-width: 800px;
    margin: 0 auto;
}

.videoResponsive {
    margin: 0 auto;
    height: 0px;
    width: 100%;
    padding-top: 56.25%;
    position: relative;

}

.videoResponsive iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

/*BOTON DESCARGAR*/
.boton_descargar_pdf {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    background-color: #3f51b5;

}

.boton_descargar_pdf:hover {
    background-color: #303f9f;
}

.boton_descargar_pdf:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


/*TEXTOS*/
.texto {
    white-space: normal;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
}

.texto-lista {
    color: #212121;
    font-size: 18px;
    line-height: 1.6;
}

.color-rojo {
    color: #FF0000;
}

.fondo-rojo-claro {
    background-color: #f54b4b;
}

.color-azul {
    color: #0693e3;
}

.color-fucsia {
    color: #e2007a;
}

.fondo-lila {
    background-color: #F2EBF4;
}

.color-celeste {
    color: #31bdf0;
}

.color-naranja {
    color: #fa9953;
}

.fondo-naranja-claro {
    background-color: #f8a56a;
}

.color-lila {
    color: #9b51e0;
}

.color-verde {
    color: #00b347;
}

.fondo-verde-clarito {
    background-color: #70f5a5;
}

.fondo-verde-claro {
    background-color: #36e07a;
}

.fondo-gris {
    background-color: #eee;
}

.fondo-celeste {
    background-color: #8ed1fc;
}

.fondo-celeste-2 {
    background-color: #E1F5FE;
}

.fondo-amarillo {
    background-color: #f7fae4;
}

.fondo-verde-agua {
    background-color: #edf7f5;
}

.fondo-color-cafe {
    background-color: #e8eeae;
}

.fondo-color-cafe-2 {
    background-color: #EFEBE9;
}

.fondo-color-rosa {
    background-color: #F6E3CE;
}

.fondo-color-rosa-2 {
    background-color: #fce2d6;
}

.fondo-color-rosa-3 {
    background-color: #fcf0ea;
}

/*FONTS SIZES*/
.has-small-font-size {
    font-size: 13px
}

.has-normal-font-size,
.has-regular-font-size {
    font-size: 16px
}

.has-medium-font-size {
    font-size: 20px
}

.has-large-font-size {
    font-size: 36px
}

.has-huge-font-size,
.has-larger-font-size {
    font-size: 42px
}

/*ALIGNS*/

.texto-alineado-centrado {
    text-align: center
}

.texto-alineado-izquierda {
    text-align: left
}

.texto-alineado-derecha {
    text-align: right
}

.texto-justificado {
    text-align: justify;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.alineado-centrado {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*TABLE*/
.wp-block-table .has-fixed-layout {
    table-layout: fixed;
    width: 100%;
}

.wp-block-table td,
.wp-block-table th {
    padding: .5em;
    border: 1px solid;
    word-break: normal;
}

/*BLOCK COLUMNS*/
.center {
    align-self: center !important;
}

.block-columns {
    display: flex;
    margin-bottom: 28px;
    flex-wrap: wrap
}

.table-movil {
    width: 100%;
    table-layout: fixed;
}

@media (min-width: 320px) {
    .table-movil {
        font-size: 0.88rem
    }
}

@media (min-width: 782px) {
    .block-columns {
        flex-wrap: nowrap
    }
}

.block-columns.has-background {
    padding: 20px 38px
}

.block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    width: 80%;
}

.clase-movil {
    margin-left: 300px;
    margin-bottom: -42px;
}

@media (max-width: 320px) {
    .clase-movil {
        margin-left: 190px;
        margin-bottom: -35px;
        width: 80px;
    }
}


@media (max-width: 599px) {
    .block-column {
        flex-basis: 100% !important
    }
}

@media (min-width: 600px) and (max-width:781px) {
    .block-column {
        flex-basis: calc(50% - 16px) !important;
        flex-grow: 0
    }

    .block-column:nth-child(2n) {
        margin-left: 32px
    }
}

@media (min-width: 782px) {
    .block-column {
        flex-basis: 0;
        flex-grow: 1
    }


    .block-column[style*=flex-basis] {
        flex-grow: 0
    }

    .block-column:not(:first-child) {
        margin-left: 32px
    }
}

.block-columns.are-vertically-aligned-top {
    align-items: flex-start
}

.block-columns.are-vertically-aligned-center {
    align-items: center
}

.block-columns.are-vertically-aligned-bottom {
    align-items: flex-end
}

.block-column.is-vertically-aligned-top {
    align-self: flex-start
}

.block-column.is-vertically-aligned-center {
    -ms-grid-row-align: center;
    align-self: center
}

.block-column.is-vertically-aligned-bottom {
    align-self: flex-end
}

.block-column.is-vertically-aligned-bottom,
.block-column.is-vertically-aligned-center,
.block-column.is-vertically-aligned-top {
    width: 100%
}

.block-text-columns .block-column {
    margin: 0 16px;
    padding: 0
}

.block-text-columns .block-column:first-child {
    margin-left: 0
}

.block-text-columns .block-column:last-child {
    margin-right: 0
}

.block-text-columns.columns-2 .block-column {
    width: 50%
}

.block-text-columns.columns-3 .block-column {
    width: 33.33333%
}

.block-text-columns.columns-4 .block-column {
    width: 25%
}

/*BLOCK IMAGE*/
.block-image {
    margin-bottom: 1em
}

.block-image img {
    max-width: 80%
}

.block-image.aligncenter {
    text-align: center
}

.block-image.alignfull img,
.block-image.alignwide img {
    width: 100%
}

.block-image .aligncenter,
.block-image .alignleft,
.block-image .alignright,
.block-image.is-resized {
    display: table
}

.block-image .aligncenter>figcaption,
.block-image .alignleft>figcaption,
.block-image .alignright>figcaption,
.block-image.is-resized>figcaption {
    display: table-caption;
    caption-side: bottom
}

.block-image .alignleft {
    float: left;
    margin: .5em 1em .5em 0
}

.block-image .alignright {
    float: right;
    margin: .5em 0 .5em 1em
}

.block-image .aligncenter {
    margin-left: auto;
    margin-right: auto
}

.block-image figcaption {
    margin-top: .5em;
    margin-bottom: 1em;
}




.picture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;

    grid-gap: 5px;
    grid-row-gap: 10px;
}

.grid-box img {
    width: 100%;
    background-size: contain;

}


/*BLOCK BUTTONS*/
.wp-block-buttons .wp-block-button {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.wp-block-buttons.aligncenter {
    text-align: center;
}

/*CONTAINERS*/
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container2 {
    padding-right: 15px;
    padding-left: 15px;
}

/*spacer*/
.espacio {
    height: 20px
}

/*espacio de 30px*/
.espacio-30 {
    height: 30px
}

/*INTERIORIDAD*/
.cuadro-gris {
    padding: 20px 38px;
    line-height: 1.6;
    text-align: left;
    background-color: #eee;
}

.interioridad-justifica-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interioridad-justifica-vertical {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.icon-math {
    width: 20px;
    vertical-align: middle;
}

/*========================== Matematica Template =====================================*/

.outer {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
}

.titulos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.superConTextoDiagonal {
    max-width: 450px;
}

.imagen-columna {
    max-width: 795px;
    width: 100%;
}


.imagen-columna-1 {
    max-width: 795px;
    width: 80%;
    margin-top: 12%;
    margin-left: 10%;
}

.imagen-columna-2 {
    max-width: 795px;
    width: 80%;
    text-align: center;
}

.cuerpo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.burbuja-unidad {
    max-width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

.orange {
    color: #ff6900;
}

.h2-apt-mat {
    background-color: #ff6900;
    text-transform: uppercase;
    padding: 20px 30px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.h2-apt-com {
    background-color: #9b51e0;
    text-transform: uppercase;
    padding: 20px 30px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.h3-apt-mat {
    text-transform: uppercase;
    word-break: break-word;
    overflow-wrap: break-word;
}

.h3-apt-com {
    text-transform: uppercase;
    word-break: break-word;
    overflow-wrap: break-word;
}

.img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.fb-33 {
    flex-basis: 33.33%;
}

.fb-66 {
    flex-basis: 66.66%;
}

.fb-66:nth-of-type(1n) {
    flex-basis: 66.66%;
    font-size: 0.7em;
}

.div1 {
    width: 66.66%;
}

.div-sh1 {
    width: 33.33%;
    margin: 0 auto;
}

.div-super {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.div-super-parado-apertura {
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

.imagen-columna {
    width: 80%;
    text-align: center;
}

.imagen-columna-1 {
    max-width: 786px;
    width: 100%;
}

.imagen-columna-1 {
    max-width: 786px;
    width: 100%;
}

.imagen-columna-2 {
    max-width: 786px;
    width: 40%;
}

.imagen-columna-3 {
    width: 100%;
    text-align: center;
}

.imagen-columna-4 {
    max-width: 786px;
    width: 70%;
}

.superConTexto {
    width: 40%;
}

/* Chayanne Responsive */

.div-video {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.video-empotrado {
    width: 60%;
    height: 18.45em;
}

@media (max-width: 900px) {
    .div-video {
        width: 100%;
    }

    .video-empotrado {
        height: 16em;
    }
}

/* Termina Chayanne Responsive */

@media (max-width: 780px) {
    .div-super {
        width: 100%;
    }

    .sh1 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .superConTexto {
        width: 70%;
    }

    .video-empotrado {
        height: 10em;
    }
}

@media (min-width: 781px) {
    .titulos {
        flex-wrap: nowrap;
    }

    .fb-66 {
        margin-left: 32px;
    }
}

@media (max-width: 768px) {
    .cuerpo {
        flex-wrap: wrap;
    }

    .div1 {
        width: 100%;
    }

    .div-sh1 {
        width: 100%;
    }

    .inner {
        width: 80%;
    }

    .titulos {
        justify-content: center;
    }

    .fb-33:nth-of-type(1n) {
        flex-basis: 100%;
    }

    .fb-66:nth-of-type(1n) {
        flex-basis: 100%;
    }
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.sangria {
    margin-top: 0px;
    margin-left: 3%;
    margin-bottom: 0px;
}

.sangria-2 {
    margin-top: 0px;
    margin-left: 6%;
    margin-bottom: 0px;
}

.content-nene-esqueleto {
    margin-top: 3%;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.nene-esqueleto {
    width: 70%;

}

.content-pasos-higiene {
    margin-top: 3%;
    width: 89%;
    text-align: center;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 800px) {
    .content-pasos-higiene {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .content-pasos-higiene {
        width: 100%;
    }
}

.-pasos-higiene {
    width: 70%;

}

.block-elementos-higiene {
    max-height: 15%;


}

.elementos-higiene {
    height: 99%;
    width: 40%;
    text-align: center;
}

@media (max-width: 450px) {
    .elementos-higiene {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .elementos-higiene {
        width: 50%;
    }
}


.block-nena-imagen-recuadro {
    max-height: 15%;


}

.nena-imagen-recuadro {
    height: 100%;
    width: 50%;
    margin-top: 4%;
}

@media (max-width: 800px) {
    .nena-imagen-recuadro {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .nena-imagen-recuadro {
        width: 100%;
    }
}

.mapa {
    height: 100%;
    width: 50%;
    margin-top: 4%;
    margin-left: 14%;
}

@media (max-width: 800px) {
    .mapa {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .mapa {
        width: 100%;
    }
}


.mapa-imagen {
    height: 100%;
    width: 90%;

}

@media (max-width: 800px) {
    .mapa-imagen {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .mapa-imagen {
        width: 100%;
    }
}

.lapiz-cuadro {
    height: 100%;
    width: 90%;
    margin-right: 10%;
    margin-top: 10%;
}

@media (max-width: 800px) {
    .lapiz-cuadro {
        width: 87%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 320px) {
    .lapiz-cuadro {
        width: 100%;
    }
}



.img-varias {
    height: 100%;
    width: 40%;
    margin-top: 4%;
}

@media (max-width: 800px) {
    .img-varias {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .img-varias {
        width: 100%;
    }
}

.img-general {
    height: 100%;
    width: 50%;
    margin-top: 4%;
    margin-left: 50%;
}

@media (max-width: 800px) {
    .img-general {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .img-general {
        width: 100%;
    }
}

.img-cora {
    height: 100%;
    width: 15%;
    margin-top: 4%;

}

@media (max-width: 800px) {
    .img-cora {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .img-cora {
        width: 100%;
    }
}





.img-corazon {
    height: 100%;
    width: 60%;
    margin-top: 4%;
    margin-right: 3%;
}

@media (max-width: 800px) {
    .img-corazon {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .img-corazon {
        width: 100%;
    }
}


.img-v {
    height: 100%;
    width: 20%;

    margin-right: 20%;
}

@media (max-width: 800px) {
    .img-v {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .img-v {
        width: 100%;
    }
}


.img-lateral {
    height: 100%;
    width: 50%;

    margin-right: 20%;
}

@media (max-width: 800px) {
    .img-lateral {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .img-lateral {
        width: 100%;
    }
}


.img-cuadro {
    height: 100%;
    width: 15%;
    margin-top: 4%;
    margin-bottom: 3%;
}

@media (max-width: 800px) {
    .img-cuadro {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .img-cuadro {
        width: 100%;
    }
}



.brazo-imagen-recuadro {
    height: 100%;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 10%;
}

@media (max-width: 800px) {
    .brazo-imagen-recuadro {
        width: 87%;
        margin-left: 7%;
    }
}

@media (max-width: 320px) {
    .brazo-imagen-recuadro {
        width: 100%;
    }
}





.block-plastilina {
    max-height: 15%;
}

.plastilina {
    height: 100%;
}

.cuadro {
    border: 1px solid black;
    padding: 0.5% 2%;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.block-cuadro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}

@media (max-width: 800px) {
    .cuadro {
        width: 33%;
    }
}

@media (max-width: 320px) {
    .cuadro {
        width: 100%;
    }
}

.content-esqueleto {
    width: 40%;
    height: 50%;
}

.esqueleto {
    width: 30%;
}

#column-pastilina-img {
    max-height: 150px;
    max-width: 100%;
    margin: 0;
    text-align: center;
}

#column-pastilina-text {
    max-height: 200px;
    min-width: 80%;
}

.p-cie {
    margin-left: 7%;

}

.parrafo-cie-1 {
    height: 10%;
    margin: 1%;
    display: flex;
    padding: 0;
}

@media(max-width: 790px) {
    #column-pastilina-text {
        min-width: 100%;
    }

    #container-pastilina {
        justify-content: center;
    }
}

@media(max-width: 950px) {

    .content-esqueleto {
        width: 66%;
    }
}


@media(max-width: 800px) {

    .content-esqueleto {
        width: 60%;
        padding: 0;
    }

    .esqueleto {
        width: 55%;
    }

    .content-nene-esqueleto {
        width: 100%;
        text-align: left;

    }

    .nene-esqueleto {
        width: 90%;

    }
}

@media(max-width: 700px) {
    .esqueleto {
        width: 40%;
        height: 0%;
    }
}

@media(max-width: 630px) {

    .content-esqueleto {
        width: 80%;
    }

    .esqueleto {
        width: 35%;
    }
}

@media(max-width: 500px) {

    .content-esqueleto {
        width: 80%;
    }

    .esqueleto {
        width: 45%;
    }
}

@media(max-width: 400px) {

    .content-esqueleto {
        width: 80%;
    }

    .esqueleto {
        width: 50%;
    }
}

@media(max-width: 350px) {

    .content-esqueleto {
        width: 80%;
    }

    .esqueleto {
        width: 65%;
    }
}

@media(max-width: 260px) {

    .content-esqueleto {
        width: 80%;
    }

    .esqueleto {
        width: 77%;
    }
}

.conjunto-de-prendas {
    height: 80%;
    width: 90%;
    flex-wrap: wrap;
}

.contenedor-prendas {
    display: flex;
    width: 40%;
    margin: 0 auto;
}

.rompecabeza {
    width: 30px;
    height: 30px;
    padding-top: 1%;
}

.caja {
    width: 40px;
    height: 40px;
    padding-top: 1%;
    padding-bottom: -30%;
}

.contenedor-nenes {
    display: flex;
    width: 90%;
    margin: 0 auto;
}



.texto-venn1 {
    text-align: center;
    margin-top: 4%;
}



.texto-venn2 {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding-left: 30%;
}

@media(max-width: 384px) {
    .texto-venn2 {
        padding-left: 5%;
        margin: 0;
        width: 90%;
    }
}



.diagrama-de-venn {

    display: flex;
    width: 60%;
    margin: 0 auto;
}


.cuadro-de-texto-con-icono {
    padding-left: 3%;
    padding-bottom: 2%;
    padding-right: 3%;
    margin: 0 4%;

}

.contenedor-manos-pies {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.manos-pies {
    height: 14%;
    width: 15%;
    flex-wrap: wrap;
}


.div-conjunto {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    min-width: 70px;

}


.sub-conjunto {
    display: flex;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 10%;
}



@media(max-width: 550px) {
    .manos-pies {
        height: 26%;
        width: 28%;
    }

    .contenedor-prendas {
        height: 75%;
        width: 76%;
    }

    .contenedor-manos-pies {
        padding-left: 0%;
    }

    .contenedor-prendas {
        padding-left: 0%;
    }

    .div-conjunto {
        height: 80%;
        width: 80%;
        padding-left: 20%;
    }

    .sub-conjunto {
        height: 73%;
        width: 73%;

    }

    .diagrama-de-venn {
        height: 80%;
        width: 80%;
    }
}

.div-super {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.superConTexto {
    width: 40%;
}

@media (max-width: 780px) {
    .div-super {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .superConTexto {
        width: 70%;
    }
}

@media (max-width: 780px) {
    .sh1 {
        width: 100%;
    }
}

/* CLASE MEDIO NATURAL SEGUNDO GRADO UNIDAD 1 */
.p-margin {
    margin: 5%;
}

.div-cuadro-intentos {
    display: flex;
    justify-content: space-around;
    margin: 0 8%;
}

.cuadro-intentos {
    width: 50%;
}

.cuadro-musculo {
    width: 85%;
    height: 85%;
}

.ajust-p {
    margin-left: 10%;
}

.p-musculos {
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.cuadro-estrella-img {
    width: 50%;
}

@media (max-width: 750px) {

    .cuadro-intentos,
    .cuadro-estrella-img {
        width: 80%;
    }

    .div-cuadro-intentos div {
        text-align: center;
    }
}

/* FIN CLASE MEDIO NATURAL SEGUNDO GRADO UNIDAD 1 */

/* Inicio quinto grado unidad 1 ciencias */
.img-cie,
.img-mol {

    max-width: auto;
    max-height: 100%;
}

.img-mol {
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}


@media only screen and (max-width: 1120px) {

    .td-cie,
    .div-mol,
    .td-table {
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-cie,
    .img-mol {
        height: 150px;
        width: auto;
        padding-top: 8.8px;

    }

}

@media only screen and (min-width: 1120px) {

    .img-cie,
    .img-mol {
        width: auto;
        height: 200px;
        margin-left: 8.8px;
    }

}

#table-cie {
    border-collapse: collapse;

    overflow: hidden;



}

.th-cie,
.td-cie {
    padding: 1em;



}

.th-cie {
    color: #59c5bc;
    border: 2px solid #59c5bc;
}

.td-cie,
.td-table {
    display: flex;

    border: #c8c5b7 solid 2px !important;

}

.b-color {
    color: #a9a790
}


@media (max-width: 781px) and (min-width: 600px) {
    #div-cie {
        flex-basis: 100% !important;
        justify-content: center;
        align-items: center;
    }

}

.item-com {
    color: #f78da7;
}

@media (min-width:600px) {
    #block-columns-inv {
        flex-direction: row-reverse !important;
    }
}


/* Fin quinto grado unidad 1 ciencias */

/* Comunicacion Segundo Grado Clase 5 */
#profeConNenes {
    width: 50%;
    padding-left: 10%;
}

#block-cols-ex-com-05 {
    margin: 2%;
    align-items: center;
}

#block-col1-ex-com-05 {
    min-width: 70%;
}

#block-col2-ex-com-05 {
    max-width: 80%;
}

@media(max-width: 550px) {
    #profeConNenes {
        width: 90%;
    }
}

@media (max-width: 780px) {
    #block-col1-ex-com-05 {
        min-width: 100%;
    }

    #block-col2-ex-com-05 {
        margin: 0 auto;
    }
}

/* Fin Comunicacion Segundo Grado Clase 5 */



.p-con-fondo {
    padding: 1% 3%;
}

.icon-grupal {
    max-width: 30px;
}

.subconjunto-B {
    width: 65%;
    padding-top: 3%;
}

.cuadro-con-estrella {
    padding-top: 15%;
    width: 50%;
}

.subconjunto-J {
    width: 30%;
}

@media(max-width:1024px) {
    .subcolumn:nth-of-type(1) {
        text-align: right;
    }

    .subcolumn:nth-of-type(2) {
        text-align: left;
    }

}

@media(max-width:770px) {
    .cuadro-con-estrella {
        text-align: left;
        width: 88%;
    }

    .subconjunto-B {
        text-align: right;
        margin-top: 5%;
        width: 86%;
    }

    .subconjunto-J {
        width: 45%;
    }
}

@media(max-width:596px) {
    .div-columns {
        width: 75%
    }

    .subcolumn:nth-of-type(2) {
        text-align: right;
    }

    .subcolumn {
        text-align: right;
    }

    .cuadro-con-estrella {
        width: 55%;
    }

    .subconjunto-B {
        margin-top: 5%;
        width: 55%;
    }

    .subconjunto-J {
        width: 50%;
    }
}

@media(max-width:468px) {
    .div-columns {
        text-align: center;
    }

    .cuadro-con-estrella {
        text-align: left;
        width: 85%;
    }

    .subcolumn {
        width: 93%;
        text-align: center;
    }

    .subconjunto-B {
        margin-top: 5%;
        width: 83%;
    }

    .subconjunto-J {
        width: 70%;
    }
}

@media(max-width:370px) {


    .cuadro-con-estrella {
        text-align: left;
        width: 90%;
    }

    .subconjunto-B {
        text-align: right;
        margin-top: 5%;
        width: 93%;
    }

    .subconjunto-J {
        width: 80%;
    }
}

@media(max-width:290px) {
    .div-columns {
        width: 98%;
    }

    .cuadro-con-estrella {
        text-align: left;
        width: 95%;
    }

    .subconjunto-B {
        text-align: right;
        margin-top: 5%;
        width: 95%;
    }

    .subconjunto-J {
        width: 85%;
    }
}



.cuadroEstrellita,
.cuadroConLapiz,
.huevos {
    width: 80%;
}



@media(max-width: 1024px) {
    .mapaConceptual {
        width: 50%;
    }
}

@media(max-width:960px) {
    .mapaConceptual {
        width: 80%;
    }
}

@media(max-width: 900px) {

    .cuadroEstrellita,
    .cuadroConLapiz {
        width: 35%;
    }

    .huevos {
        width: 50%;
    }

    .conten-huevos {
        text-align: center;
    }

    .mapaConceptual {
        width: 95%;
    }
}

@media(max-width: 540px) {

    .cuadroEstrellita,
    .cuadroConLapiz {
        width: 48%;
    }

    .huevos {
        width: 75%;
    }

}

@media(max-width: 380px) {
    .flexrap {
        display: flex;
        flex-wrap: wrap;
    }

    .cuadroEstrellita,
    .cuadroConLapiz {
        width: 68%;
    }
}

@media(max-width: 360px) {
    .mapaConceptual {
        width: 95%;
    }
}


/* Fin matematica Segundo Grado Clase 4 */
.img-responsive {
    width: 75%;


}

@media only screen and (max-width: 480px) {
    .img-responsive {
        width: 100%;
    }
}

/* Fin matematica Segundo Grado Clase 4 */

/* Matematica Segundo Grado Clase 5 */
.ancho-90 {
    width: 80%;
}

.ancho-95 {
    width: 95%;
}

.ancho-70 {
    width: 70%;
}

.margen-auto {
    margin: 0 auto;
    ;
}

.margen-abajo-cero {
    margin-bottom: 0;
}


.margen-arriba-cero {
    margin-top: 0;
}

.margen-izquierdo {
    margin-left: 3%;
}

.espaciado-letra-03 {
    letter-spacing: 0.3em;
}

/* Fin Matematica Segundo Grado Clase 5 */

/* Ciencias Segundo Grado Clase 3 */

.ancho-50 {
    width: 50%;
}

@media (max-width: 800px) {
    #cuadroMovimiento {
        width: 100%;
    }
}

/* Fin Ciencias Segundo Grado Clase 3 */



/* Matematica Segundo Grado Clase 11 */
.ancho-80 {
    width: 80%;
}

.justificar-contenido {
    justify-content: center;
}

@media (max-width: 900px) {
    #div-noventaNueve {
        text-align: center;
    }

    .d-enlinia-bloque {
        display: inline;
        text-align: center;
    }

    #noventaNueve {
        width: 35%;
    }
}

@media (max-width: 780px) {

    #unidadDecena,
    #diezUnidades {
        width: 70%;
    }
}

@media (max-width: 375px) {

    #unidadDecena,
    #diezUnidades {
        width: 100%;
    }

    #noventaNueve {
        width: 50%;
    }
}

/* Fin Matematica Segundo Grado Clase 11 */

/* Inicio Matematica Segundo Grado Clase 9 */
.img-mobile {
    display: none;
}

@media only screen and (max-width: 480px) {


    .img-full {
        display: none !important;
    }

    .img-mobile {
        display: block !important;
    }
}

/* Fin Matematica Segundo Grado Clase 9 */



/* Inicio Matematica Sexto Grado */
/*La idea es agregar la ₲ en diagonal que es más notorio en arial */
.guaranies {
    font-family: 'arial';
}

/* Fin Matemática Sexto Grado */

/* MatematicaSexto grado clase 9*/

.numerosromanosmillon {
    text-decoration: overline double 1px;
}

.numeroromanomilesima {
    text-decoration: overline 1px;
}

.superConTextoDiagonal {
    max-width: 450px;
}

/* Inicio comunicacion segundo grado grado clase 15*/
.flex-container {
    display: flex;
    flex-wrap: nowrap;



}

.flex-item {
    flex: 50%;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .flex-container {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* fin comunicacion segundo grado grado clase 15*/

/* Fin Matematica Sexto grado clase 9*/


.parrafo {
    width: 400px;
    color: #707070;
    text-align: justify;
}

.comunicacionRosado {
    color: #FF0080;
}

.items-align {
    display: flex !important;
    align-items: center !important;
    justify-content: center;

}

/* Empieza Matematica Segundo grado clase 3*/

.ancho-max-700 {
    max-width: 700px;
}

.ancho-max-600 {
    max-width: 600px;
}

.ancho-max-500 {
    max-width: 500px;
}

.ancho-max-400 {
    max-width: 400px;
}

.ancho-max-260 {
    max-width: 260px;
}

.ancho-max-200 {
    max-width: 200px;
}

/* Fin Matematica Segundo grado clase 3*/

/*Grado 1 unidad 1 matematica4*/
.parea {
    width: 380px;
}

.cuadroLateral {
    width: 250px;
}

/* Empieza Matematica Segundo grado clase 3*/

.ancho-max-300 {
    max-width: 300px;
}

.ancho-min-250 {
    min-width: 250px;
}

.ancho-max-1000 {
    max-width: 1000px;
}

.flex-reverso {
    flex-wrap: wrap-reverse;
}

.sin-borde {
    border: none;
}

@media (max-width: 900px) {
    #esqueletoBailon {
        flex-direction: column-reverse;
    }
}

/* Fin Matematica Segundo grado clase 3*/
/*inicio matematica segundo grado clase 6*/

.icono-centrado {
    display: flex !important;
    align-items: center !important;


}


/*fin matematica segundo grado clase 6*/
/*inicio matematica segundo grado clase 5*/
.icono-medio {
    vertical-align: middle;
}

/*fin matematica segundo grado clase 6*/

/*inicio segundo grado cie clase 5*/
.ancho-75 {
    width: 75%;
}

.ancho-100 {
    width: 100%;
}

.ancho-max-100-2 {
    max-width: 100px;
}

/*fin segundo grado cie clase 5*/

/*Grado 1 unidad 1 matematica4*/

.tamano {
    width: 200px;
    height: 160px;
}

/*inicio matematica segundo grado clase 5*/

/*inicio matematica quinto grado clase 3*/
.ancho-max-800 {
    max-width: 800px;
}

/*fin matematica quinto grado clase 3*/

/*inicio comunicacion segundo grado clase 8*/
.fondo-comunicacion-claro {
    background-color: #faf1fe !important;
}

/*fin comunicacion segundo grado clase 8*/

/*Grado 6 unidad 1 matematica8*/

.primeralinea {
    text-indent: 40px;
}

.segundalinea {
    text-indent: 70px;
}

/*inicio matematica quinto grado clase 15*/
.flex-row {
    display: flex;
    flex-direction: row;
}

/*fin matematica quinto grado clase 15*/


/* Quinto Grado Clase 11 Matematica */
.ancho-max-20 {
    max-width: 20px;
}

.ancho-max-50 {
    max-width: 50px;
}

.alto-max-50 {
    max-height: 50px;
}

.alto-max-30 {
    max-height: 30px;
}

.ancho-max-65 {
    max-width: 65px;
}

.ancho-max-100 {
    max-width: 100px;
}

/* Segundo Grado Unidad 2 Ciencias 18 */

.hr-azul {
    border-color: #a6e1f7;
}

.hr-azul:nth-of-type(1) {
    margin-bottom: 20px;
}

/* Fin Segundo Grado Unidad 2 Ciencias 18 */
/* Quinto Grado Clase 11 Matematica  */
/*Grado 1 unidad 2 matematica 11*/

.tamanoheroe {
    width: 25%;
}

@media (max-width: 480px) {
    .tamanoheroe {
        width: 70%;
    }
}

/* Fin Grado 1 unidad 2 matematica 11*/

/*Grado 6 unidad 2 Ciencias Sociales 13*/
.block-column-space {
    margin-top: 0px;
    margin-left: 15%;
    margin-bottom: 0px;
}

/*Fin Grado 6 unidad 2 Ciencias Sociales 13*/

.color-blanco {
    color: #fff;
}

.color-marron {
    color: #A9A791;
}

/*Grado 4 unidad 2 Ciencias Sociales 18*/
.cuadro_himno {
    margin-left: 30%;
}

@media (max-width: 1218px) {
    .cuadro_himno {
        margin-left: 28%;
    }
}

@media (max-width: 1265px) {
    .cuadro_himno {
        margin-left: 25%;
    }
}

@media (max-width: 960px) {
    .cuadro_himno {
        margin-left: 20%;
    }
}

@media (max-width:795px) {
    .cuadro_himno {
        margin-left: 15%;
    }
}

@media (max-width:560px) {
    .cuadro_himno {
        margin-left: 30%;
    }
}



/*Grado 4 unidad 2 Matematica 18*/
@media(max-width: 600px) {
    #relojesDatos {
        margin-left: 20px;
        flex-basis: 50% !important;
    }

    #caracteristicasFisicas {
        margin-bottom: 0 !important;
    }
}

/*Fin Grado 4 unidad 2 Matematica 18*/

#caracteristicasFisicas {
    margin-bottom: 100px;
}

/*Inicio grado 5 comunicacion 20*/
.fondo-celeste5 {
    background: #6bcff6;
}

.fondo-celeste-clarito {
    background-color: #b9e5fa;
}

.fondo-salmon {
    background-color: #f3858d;
}

.fondo-salmon-claro {
    background-color: #facbc9;

}

.fondo-naranjita {
    background-color: #fbe4d5;
}

.bordesIrregulares {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.bordes2redondeados {
    border-radius: 0 20px;
}

.bordesredondoscontornosdecolor {
    border-width: 4px;
    border-style: solid;
    border-color: #6acff7;
    border-radius: 10px;
    width: 80%;
    /* height: 30%; */
}

.bordes2redondeadosArriba {
    border-radius: 20px 20px 0 0;
}

.borde1redondeadoArriba-derecha {
    border-radius: 0 20px 0 0;
}

.bordes2redondeadosAbajo {
    border-radius: 0px 0px 20px 20px;
}

.borde1redondeadoAbajo-izquierda {
    border-radius: 0px 0px 0px 20px;
}

.bordes-redondeados-azul {
    border-radius: 15px 0px;
    border: 2px solid #0693e3
}

.borde-azul {
    border: 2px solid #0693e3
}

.borde-verde {
    border: 2px solid #7bdcb5
}

.borde-marron {
    border: 2px solid #A9A791
}

.padding-left10 {
    padding-left: 10px;
}

.padding-left23 {
    padding-left: 23px;
}

/*fin grado 5 comunicacion 20*/
.ancho-max-50 {

    max-width: 50px;

}

#g2_u2_mat_11 {
    padding-left: 12em;
}

@media(max-width: 900px) {
    #g2_u2_mat_11 {
        padding-left: 0;
        text-align: center;
    }

}

/*Fraccion*/
.fraccion {
    vertical-align: -1ex;
}

/*Inicio 6to grado comunicacion 34*/
.salto-de-linea {
    white-space: pre-line;
    /*con esto se puede usar \n en textos de interactive*/
}

.salto-de-linea-y-tabulacion {
    white-space: pre-wrap;
    /*con esto se puede usar \n y \t en textos de interactive*/
}

/*Fin 6to grado comunicacion 34*/




.cuadro2 {
    border: 1px solid black;
    padding: 0.5% 2%;
    display: inline-block;
    text-align: center;

}

.marginright2 {

    margin-right: 2%
}

/*Inicio grado 1 comunicacion 30*/
.img-medium img {
    max-height: 8em;
    max-width: 10em;
}

/*Fin grado 1 comunicacion 30*/

.bold {
    font-weight: bold;
}

.bordes2redondeadosArriba {
    border-radius: 20px 20px 0 0;
}

.borde-azul {
    border: 2px solid #0693e3
}

.borde-verde {
    border: 2px solid #7bdcb5
}

.ancho-max-500 {
    max-width: 500px;
}

.margen-auto {
    margin: 0 auto;
    ;
}

.margen-abajo-cero {
    margin-bottom: 0;
}

.margen-arriba-cero {
    margin-top: 0;
}

.borde-marron {
    border: 2px solid #A9A791
}

.borde-verde-agua {
    border: 2px solid #59c5bc;
}

.fondo-verde-clarito {
    background-color: #ddf1ef;
}

.borde-amarillo {
    border: 2px solid #ebf2c4;
}

.fondo-naranjita-clarito {
    background-color: #fdebd7;
}

.borde-naranja {
    border: 2px solid #f9b68c;
}

.fondo-verde-mate {
    background-color: #e7efaf;
}

.fondo-marron-clarito {
    background-color: #e8e7dc;

}

.borde-lila-claro {
    border: 2px solid #faf1fe;
}

.borde-redondeado {
    border-radius: 15px;
}

.fraccion-texto {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.87em;
    text-align: center;
}

.numerador {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid black;
}

.denominador {
    display: inline-block;
}


/* Tachado */
.tachado {
    position: relative;
    display: inline-block;
    padding: 0 4px 0 4px;
    margin: 0 -4px 0 -4px;
}

.tachado:before {
    position: absolute;
    content: "";
    left: 0;
    top: 45%;
    right: 0;
    border-top: 1.5px solid;
    border-color: #e2007a;

    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

/* Raiz Cuadrada */
.raiz {
    font-size: 23px;
    letter-spacing: -3px;
}

.raizContenido {
    display: inline-block;
    border-top: 1.5px solid black;
    line-height: 1;
}

/* Fin Quinto Matematica Clase 41 */

/*quinto comunicacion clase43*/
.fondo-color-mostaza {
    background-color: #e6e6dc;
}

.fondo-mostaza-oscuro {
    background-color: #aaa891;
}

/*fin quinto comunicacion clase43*/
/* Inicio quinto ciencias 48*/

/* colores lista */

.vida li span {
    color: #000000
}

.matematica li span {
    color: #000000
}

.comunicacion li span {
    color: #000000
}

.color-fucsia li span {
    color: #000000
}

.comunicacionRosado li span {
    color: #000000
}

.ciencias li span {
    color: #000000
}

/* colores lista */

.fondo-celeste-clarito2 {
    background-color: #DBEEF9;
}


.flex-container1000 {
    display: flex;
    flex-wrap: nowrap;



}

@media screen and (max-width: 1000px) {
    .flex-container1000 {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* fin quinto ciencias 48*/

.fontRoboto {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
}

.fontKarmina {
    font-family: "Karmina", serif;
}


.fondo-verde-mate {

    background-color: #e7efaf;

}

.borde-lila {
    border: 2px solid #9758a3;
}

.fondo-blanco {
    background-color: #ffffff;
}

.texto-color-blanco {
    color: #ffffff;
}

.fondo-gris-oscuro {
    background-color: #748b9a;
}

.fondo-crema {
    background-color: rgb(244, 213, 169);
}

.fraccion-texto {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.87em;
    text-align: center;
}

.numerador {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid black;
}

.denominador {
    display: inline-block;
}



/* Correcciones unidad 5 quinto*/

.img-mobile900 {
    display: none;
}

@media only screen and (max-width: 900px) {


    .img-full900 {
        display: none !important;
    }

    .img-mobile900 {
        display: block !important;
    }
}


.img-mobile600 {
    display: none;
}

@media only screen and (max-width: 600px) {


    .img-full600 {
        display: none !important;
    }

    .img-mobile600 {
        display: block !important;
    }
}

.margenizq07 {
    margin-left: 0.7em;
}

/* Inicio quinto comunicacion 53*/
.titulo-con-estilo {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
}

.color-marron-claro {
    color: #cd8c54;
}

.fondo-verde-pastel {
    background-color: #64c18b;
}

.color-lila-oscurito {
    color: #a164ab;
}

.hr-verde {
    border: 1px solid #64c18b;
}

.fondo-lila-pastel {
    background-color: #e8dced;
}

.texto-chiquito {
    font-size: 0.9rem;
}

.fa {
    font: normal normal normal 24px/1 FontAwesome !important;
    font-size: 24px !important;
}

#espacio-houdini {
    display: none;
}

@media screen and (max-width: 445px) {
    #iconos-contactos {
        font-size: 12px !important;
    }

    .titulo-con-estilo {
        font-size: 4rem;
    }

    .texto-chiquito {
        font-size: 0.78rem;
    }
}

@media (max-width: 390px) {
    #espacio-houdini {
        display: inline;
    }
}

/*Fin quinto comunicacion 53*/
.img-superpuesta-izq {
    position: relative;
    left: 40px;
}

@media (max-width: 900px) {
    .img-superpuesta-izq {
        left: 0;
    }
}

/*inicio matematica 1ergrado clase56*/
.ancho-cuadro-operacion {
    width: 8%;
    border: 2px solid #0693e3;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .ancho-cuadro-operacion {
        width: 20%;
        border: 2px solid #0693e3;
        text-align: center;
    }
}

.texto-cuadro-operacion {
    font-size: 17.6px;
}

@media screen and (max-width: 900px) {
    .texto-cuadro-operacion {
        font-size: 13px;
    }
}

.cuadro-halcon {
    margin-bottom: -43%;
}

@media screen and (max-width: 700px) {
    .cuadro-halcon {
        margin-bottom: -3.3%;
    }
}

.cuadro-elefante {
    margin-bottom: -57%;
}

@media screen and (max-width: 700px) {
    .cuadro-elefante {
        margin-bottom: -48%;
    }
}

@media screen and (max-width: 500px) {
    .cuadro-responsive2 {
        margin-bottom: -47px;
    }
}

.fondo-rosado-matematica {
    background-color: #fadce9;
}

/*fin matematica 1ergrado clase56*/

.texto-com-63 {
    font-family: 'Source Serif Pro', serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
}

.color-verde-aguita {
    color: #5ac5bd;
}

.fondo-verde-aguita {
    background-color: #d6ecec;
}

.rayas-division {
    border-left: 2px black solid;
    border-bottom: 2px black solid
}

/*comienzo comunicacion 2do grado clase63*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

#cuadro-marroncito {
    display: table;
    background-color: #DDC1A5;
    border: 3px solid #fff;
    padding: 2%;
    min-height: 4rem;
    width: 100%;
}

#cuadro-marroncito p {
    padding-left: 4%;
    display: table-cell;
    vertical-align: middle;
}

#cuadro-azul1 {
    display: table;
    background-color: #FEF9E7;
    border: 3px solid #FEF9E7;
    padding: 2%;
    min-height: 4rem;
    width: 100%;
}

.titulo-estilo {
    font-family: 'Dancing Script', cursive;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 700;
}

@media screen and (max-width: 445px) {

    .titulo-estilo {
        font-size: 1.5rem;
        text-align: center;
    }
}

#cuadro-azul1 p {
    padding-left: 4%;
    display: table-cell;
    vertical-align: middle;
}

#cuadro-amarillo1 {
    display: table;
    background-color: #FCF3CF;
    border: 3px solid #FCF3CF;
    padding: 2%;
    min-height: 4rem;
    width: 100%;
}

#cuadro-amarillo1 p {
    padding-left: 4%;
    display: table-cell;
    vertical-align: middle;
}

.borde-perforado-cremita {
    border-left: 10px dotted #fff;
    background-color: #e8dcd3;
    outline: 3px solid #e8dcd3;
}

.borde-perforado-amarillo-2 {
    border-left: 15px dotted #fff;
    background-color: #f9fbec;
    outline: 3px solid #f9fbec;
}

.openSans {
    font-family: 'Open Sans Condensed', sans-serif;
}

.circulo1 {
    position: relative;
    width: 4.375rem;
    height: 4.375rem;
    background-color: #9E6C31;
    border-radius: 50%;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.circulo2 {
    transform: translate(21%, 22%);
    width: 3.125rem;
    height: 3.125rem;
    background-color: #f7fae4;
    border-radius: 50%;
}

.circulo3 {
    transform: translate(18%, 19%);
    width: 2.3125rem;
    height: 2.3125rem;
    background-color: #9E6C31;
    border-radius: 50%;
}

.circulo-3 {
    position: relative;
    width: 4.375rem;
    height: 4.375rem;
    background-color: #85C1E9;
    border-radius: 50%;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.circulo-2 {
    transform: translate(21%, 22%);
    width: 3.125rem;
    height: 3.125rem;
    background-color: #85C1E9;
    border-radius: 50%;
}

@media(max-width: 350px) {
    .margen-cuadro {
        margin-left: -22px;
        padding: 10px;

    }
}

@media(max-width: 900px) {
    #cuadro-marroncito {
        width: 90%;
        margin: 0 auto 10px;
    }
}

/*fin comunicacion 2do grado clase63*/

.lapiz-titulo {
    width: 50px;
}

/*fin comunicacion 2do grado clase63*/
.has-background2 {
    padding: 10px 19px;
}


/*inicio comunicacion 2do clase 80*/
.fondo-cremita-pastel {
    background-color: #f4ebd6;
}

.borde-naranja-grueso {
    border: 20px solid #fbbe6a;
}

/*fin comunicacion 2do clase 80*/

/* tabla comunicación, ver clase 72 cuarto grado unidad 8*/
.tabla-thcafe-bordesceleste {
    border: 2px solid #31bdf0;
    border-collapse: collapse;
    padding: 5px;
}

.tabla-thcafe-bordesceleste tr th {
    border: 2px solid #31bdf0;
    border-collapse: collapse;
    text-align: center;
    background-color: #e8eeae;
    padding: 5px;
}

.tabla-thcafe-bordesceleste tr td {
    border: 2px solid #31bdf0;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}

/* tabla-thcafe-botdesnaranja */

.tabla-thcafe-bordesnaranja {
    border: 2px solid #f9a870;
    border-collapse: collapse;
    padding: 5px;
}

.tabla-thcafe-bordesnaranja tr th {
    border: 2px solid #f9a870;
    border-collapse: collapse;
    text-align: center;
    background-color: #e8eeae;
    padding: 5px;
}

.tabla-thcafe-bordesnaranja tr td {
    border: 2px solid #f9a870;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}



/* tabla-thLila-bordeslila */

.tabla-thlila-bordeslila {
    border: 2px solid #913bf3;
    border-collapse: collapse;
    padding: 5px;
}

.tabla-thlila-bordeslila tr th {
    border: 2px solid #913bf3;
    border-collapse: collapse;
    text-align: center;
    background-color: #b074f5;
    padding: 5px;
}

.tabla-thlila-bordeslila tr td {
    border: 2px solid #913bf3;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}





/* tabla comunicación fin*/


.borde-verde-aguita {
    border: 2px solid #d6ecec;
}

.borde-perforado-bottom-gris {
    border-bottom: 10px dotted #fff;
    background-color: #d7d4bc;
    outline: 1px solid #66609a;
}



/* tabla matemática */

.tabla-thamarillo-bordesnaranja {
    border: 2px solid #f9b68c;
    border-collapse: collapse;
    padding: 5px;
}

.tabla-thamarillo-bordesnaranja tr th {
    border: 2px solid #f9b68c;
    border-collapse: collapse;
    text-align: center;
    background-color: #e8eeae;
    padding: 5px;
}

.tabla-thamarillo-bordesnaranja tr td {
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    padding-left: 15px;
    border: 2px solid #f9b68c;
}

/* tabla matemática fin*/

/* inicio cie 84*/

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 2.5px;

}


@media screen and (max-width: 1000px) {
    .grid .grid-p {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media screen and (max-width: 600px) {
    .grid-img {
        text-align: center;
        justify-content: center;
        width: 75%;
        grid-column: 1/-1;
    }
}

@media screen and (max-width: 500px) {
    .grid-img {
        grid-column: span 3;
        width: 80%;
        grid-column: 1/-1;
    }
}

@media screen and (max-width: 400px) {
    .p-productores {
        flex-wrap: wrap;

    }
}

@media screen and (max-width: 500px) {
    .cuadro_movible {
        margin: 8px 4px 0px 0px;

    }
}

/* cie 84 fin*/


#borderimg1 {
    border: 25px solid transparent;
    padding: 15px;
}

/*inicio ciencias 67*/
.fondo-azul-clarito {
    background-color: #E4E9F5;

}

.fondo-celeste-clarito3 {
    background-color: #E5F2FA;
}

.fondo-verde-pastel2 {
    background-color: #E6F3EA;
}

.fondo-amarillo-pastel {
    background-color: #FEF4E6;
}

.fondo-amarillo-pastel2 {
    background-color: #FDEAE0;
}

.fondo-rosa-pastel {
    background-color: #FDEAEA;
}

.borde-lila-oscuro {
    border: 1px solid #B279B4;
}

/*fin ciencias 67*/

/* incio matematica */

.fondo-verde-matematica {
    background-color: #e8f3e7;
}

.color-verde-matematica {
    color: #72bb81;
}


/* fin matematica*/
.fondo-naranja-clarito {
    background-color: #feecdb;
}

/*ciencias 91*/
.borde-arriba-izq {
    border-top-left-radius: 15px;
}

.borde-abajo-izq {
    border-bottom-left-radius: 15px;
}

.borde-arriba-dere {
    border-top-right-radius: 15px;
}

.borde-abajo-dere {
    border-bottom-right-radius: 15px;
}

.tabla-borde-lila {
    border: solid 2px #a973b1;
    border-collapse: collapse;
}

.tabla-borde-lila tr th {
    border: 2px solid #a973b1;
    border-collapse: collapse;
    text-align: center;
    background-color: #c7a9cf;
    padding: 5px;
}

.tabla-borde-lila tr td {
    border: 2px solid #a973b1;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}

.telefonos {
    align-items: flex-end;
}

.telefono1 {
    margin: 3px;
    display: flex;
    align-items: center;
}

.bandera {
    border-right: 2px solid #0693e3;
    ;
}

@media screen and (max-width:600px) {
    .telefono {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .telefono1 {
        flex-wrap: wrap;
        justify-content: flex-end;
        display: block;
        align-items: center;
    }

    .telefono1 {
        flex-wrap: wrap;
        justify-content: flex-end;
        display: block;
        align-items: center;
    }

    .flecha {
        display: flex;
        margin: 10px 1px;
        justify-content: center;
    }

    .bandera {
        border: none;
        border-bottom: 2px solid #0693e3;
        ;
    }


    .telefonos {
        align-items: flex-start;
    }
}

.borde-mostaza {
    border: 2px solid #d1c397;
}

.borde-simbolo{
    border-radius:10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border: 2px solid #A9A791;
}
.tabla-thcafe-bordesmarrron {
    border: 2px solid #A9A791;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}

.tabla-th_bordes_azules_fondo_blanco {
    border: 2px solid #00afef;
    border-collapse: collapse;
    padding: 5px;
}

.tabla-thcafe-bordesmarrron tr th {
    border: 2px solid #A9A791;
    border-collapse: collapse;
    text-align: center;
    background-color: #e8eeae;
    padding: 5px;
}

.tabla-thcafe-bordesmarrron tr td {
    border: 2px solid #A9A791;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}

.tabla-th_bordes_azules_fondo_blanco tr th {
    border: 2px solid #00afef;
    border-collapse: collapse;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
}

.tabla-th_bordes_azules_fondo_blanco tr td {
    border: 2px solid #00afef;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}

.fondo-celeste3 {
    background-color: #d6e0f1;
}

/* inicio tabla matematica solo azul */

.tabla-th_solo_bordes_azules {
    border: 2px solid #00AFEF;
    border-collapse: collapse;
    padding: 5px;
}

.tabla-th_solo_bordes_azules tr th {
    border: 2px solid #00AFEF;
    border-collapse: collapse;
    text-align: center;
    background-color: #FFFFFF;
    padding: 5px;
}

.tabla-th_solo_bordes_azules tr td {
    border: 2px solid #00AFEF;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}

/* fin tabla matermatica solo azul */


.sangria-pequeña{
    margin-top: 0px;
    margin-left: 1%;
    margin-bottom: 0px;
}
